@import './mixin';

.homeContainer {
  //background-color: dodgerblue; 
  width: 768px;
  max-width: 96vw;
  height: 90vh;
  border: 1.5px solid gray;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
}

.listJobsContainer {
  background-color: #0A0A0A;
  flex: 1;
  border-radius: 7px;
  overflow-y: scroll;
  transition: all 0.5s ease-in-out;

  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */

  &::-webkit-scrollbar {
    display: none;
  }
}