@import './mixin';

.homeContainer {
  //background-color: dodgerblue; 
  width: 768px;
  max-width: 96vw;
  height: 90vh;
  border: 1.5px solid gray;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
}